{% extends "_base.html" %}

{% block body %}
<article>
  <blockquote class="alert">This page is unfinished or a placeholder! This may be a summary of what the page will focus on or a partial rough draft.</blockquote>
  <h1>{{doc.title}}</h1>
  <div>{{doc.content}}</div>
  {% if len(doc.meta.backlinks) > 1 %}
    <div class="alert">
      <h2>Patterns that link here</h2>
      {% for link in doc.meta.backlinks %}
        {% if link.title != 'Home' %}
          <p><a class="wikilink" href="{{to_url(link.output_path)}}">{{link.title}}</a><br>{{link.summary}}</p>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</article>
{% endblock %}
